[limesurvey]
user = limesurvey
group = limesurvey
listen = {{ php_fpm_run_path}}/php-fpm-limesurvey.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660
 
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

;memory_limit = 999M
;post_max_size = 999M
;upload_max_filesize = 999M
;max_execution_time = 60

