server {

    # HTTP
    listen 80;
    listen [::]:80;
    server_name {{ limesurvey_domain }};

    # enforce https
    return 301 https://$server_name$request_uri;
}

server {

    # HTTP with TLS
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

{% for ld in letsencrypt_domains %}
{% if limesurvey_domain in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    # root directory
    root /var/www/limesurvey;
    
    # server name (domain this configuration applies to)
    server_name {{ limesurvey_domain }};

    # set security related headers
    add_header Referrer-Policy origin always; # make sure outgoing links don't show the URL to the Matomo instance
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;
    #add_header Strict-Transport-Security "max-age=15768000; includeSubDomains;" always;

    fastcgi_hide_header X-Powered-By;

    # set max upload size
    client_max_body_size 256M;
    fastcgi_buffers 64 4K;

    # Disable gzip to avoid the removal of the ETag header
    gzip off;

    index index.php;

    location ~ \.php$ {
        try_files $fastcgi_script_name =404;
        fastcgi_split_path_info ^(.+?\.php)(\/.*|)$;
        set $path_info $fastcgi_path_info;
        include fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param HTTP_PROXY ""; # prohibit httpoxy: https://httpoxy.org/
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $path_info;
        fastcgi_param HTTPS on;
        fastcgi_param modHeadersAvailable true;
        fastcgi_pass unix:{{ php_fpm_run_path }}/php-fpm-limesurvey.sock;
        fastcgi_intercept_errors on;
    }

    location ~* ^.+\.php$ {
        deny all;
        return 403;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ /\.ht {
        deny  all;
        return 403;
        access_log off;
    }

    location ~ js/container_.*_preview\.js$ {
        expires off;
        add_header Cache-Control 'private, no-cache, no-store';
        access_log off;
    }

    location ~ \.(gif|ico|jpg|png|svg|js|css|htm|html|mp3|mp4|wav|ogg|avi|ttf|eot|woff|woff2|json)$ {
        allow all;
        expires 24h;
        access_log off;
    }

    location ~ /(application|framework|modules|plugins|tests|themes|third_party|tmp) {
        deny all;
        return 403;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location /.well-known/acme-challenge { }

}

